@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);


.botonver {
    height: auto;
    width: auto;
    background-position:center;
    border: none; 
    outline:none;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    font-size: medium;
  
  }

  button:hover {
    background-color: #5c5a5af7;
    color: white;
  }

  .botonvolver {
    height:auto;
    width:auto;
    background-position:center;
    border: none; 
    outline:none;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    font-size: medium;
    position: absolute;
    top: 30px;
    right: 50%;
  }
  

  .botonbuscar {
    height:auto;
    width:auto;
    background-position:center;
    border: none; 
    outline:none;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    font-size: medium;
  }


  .buttonOver {
    background-image:url(./Img/continue.png);
    background-repeat:no-repeat;
    height:69px;
    width: 391px;
    position:absolute;
    top: 60%;
    right: 38%;
    background-position:center;
    border: none; 
    outline:none;
    background-color: black;
  }
  .buttonOver:hover {
    background-color: black;
    color: white;
  }

  .loader {
    /* background-image:url(./Img/pac-man.gif); */
    background-image:url(https://hips.hearstapps.com/digitalspyuk.cdnds.net/16/05/1454435758-deadpool-ryan-reynolds-sniffs-guns-lol.gif);
    background-repeat:no-repeat;
    height:1031px;
    width: 2062px;
    position:absolute;
    top: 0%;
    right: -15%;
    background-position: top;
    background-color: black;
    border: none; 
    outline:none;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: xx-large;
    border: none; 
    outline:none;
  }
  .loader:hover {
    background-color: #000000f7;
    color: white;
  }

  .botondetail {
    height:auto;
    width:auto;
    background-position:center;
    border: none; 
    outline:none;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    font-size: medium;
    position: absolute;
    right: 50%;
    
      }
  
