@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);


.paginacion {
	margin:20px 0;
}


.paginacion ul li {
	display:inline-block;
	margin-right:10px;
	font-family: 'Roboto', sans-serif;
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:rgb(255, 255, 249);
	background:#6d761a;
	text-decoration: none;
}

.paginacion ul li a:hover {
	background:#5c5a5af7
}

.paginacion ul li .active {
	background:rgb(159, 153, 153);
	font-weight:bold;
}